<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Comandos_B%C3%A1sicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Importação da biblioteca Pandas.</h1><rn>
<h1>"as pd" é um apelido para chamar os comandos da biblioteca. Para chamar os comandos da biblioteca, basta usar "pd."</h1>

In [15]:
import pandas as pd

<h1>Criada uma Tabela com  nome "venda" com 4 colunas e cada coluna com uma lista representada por [ ]</h1><rn> <h1>Criada a variavel "tabela_venda" e vinculada a biblioteca Pandas.</h1>

In [16]:


venda = {'data': ['15/02/2022', '17/03/2022'],
         'valor': [350, 546],
         'quantidade': [2, 1],
         'produto': ['memória', 'HD'],
         
        }


tabela_vendas = pd.DataFrame(venda)


display(tabela_vendas)

         data  valor  quantidade  produto
0  15/02/2022    350           2  memória
1  17/03/2022    546           1       HD


<h1>Essa tabela pode ser visualizada atrvés do comando "print", "display" ou apenas com o nome da variálvel.</h1>

In [17]:
tabela_vendas

         data  valor  quantidade  produto
0  15/02/2022    350           2  memória
1  17/03/2022    546           1       HD

<h1>Com o "pd.read_...( ) pode ser "lido" vários tipos de arquivos. No caso uma planilha do excel(.xlsx)</h1>

In [18]:
tabela_vendas = pd.read_excel("/content/drive/MyDrive/Pandas/04-12 - Introdução ao Pandas/Vendas.xlsx")

display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

<h1>O comando "shape" me diz a quantidade de linha e colunas da tabela (12, 5)</h1>

In [35]:
tabela_vendas.shape

(93910, 8)

<h1>O comando ".info( )", trás informações sobre os indices da tabela.</h1>

In [20]:
tabela_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93910 entries, 0 to 93909
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Código Venda    93910 non-null  int64
 1   Data            93910 non-null  datetime64[ns]
 2   ID Loja         93910 non-null  object
 3   Produto         93910 non-null  object
 4   Quantidade      93910 non-null  int64
 5   Valor Unitário  93910 non-null  int64
 6   Valor Final     93910 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 5.0+ MB

<h1>.describe() trás dados estatísticos da tabela.</h1>

In [21]:
tabela_vendas.describe()

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

<h1>.head( ) trás as 5 primeiras linhas ou o núme de linhas desejado dentro dos ( )</h1>

In [22]:
display(tabela_vendas.head(15))
print(tabela_vendas.shape)
display(tabela_vendas.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
10,8,2019-01-02,Iguatemi Campinas,Terno Estampa,5,706,3530
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294
12,9,2019-01-02,Shopping Center Leste Aricanduva,Casaco Xadrez,2,259,518
13,10,2019-01-02,Passei das Águas Shopping,Camiseta Xadrez,2,200,400
14,10,2019-01-02,Passei das Águas Shopping,Cueca Liso,1,69,69

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

<h1>.columns trás o nome das colunoas</h1>

In [23]:
tabela_vendas.columns

Index(['Código Venda', 'Data', 'ID Loja', 'Produto', 'Quantidade',
       'Valor Unitário', 'Valor Final'],
      dtype='object')

<h1>A variavel "produto" filtrou 2 colunas da tabela principal "tabela_vendas".</h1> <rn><h1>O .copy( ) Isolou essa parte da tabela principal. Sem o comando ".copy()", ao mudar a tabela principal, pode haver mudanças nessa tabela também.</h1>

In [24]:
produtos = tabela_vendas[['Produto','ID Loja']].copy()

In [25]:
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

In [26]:
type(produtos)

pandas.core.frame.DataFrame

<h1>.loc[11:18], foi feito um filtro do índice 11 ao 18 da tabela.</h1>

In [27]:
tabela_vendas.loc[11:18]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294
12,9,2019-01-02,Shopping Center Leste Aricanduva,Casaco Xadrez,2,259,518
13,10,2019-01-02,Passei das Águas Shopping,Camiseta Xadrez,2,200,400
14,10,2019-01-02,Passei das Águas Shopping,Cueca Liso,1,69,69
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180
16,11,2019-01-02,Shopping Recife,Calça Listrado,2,181,362
17,11,2019-01-02,Shopping Recife,Camisa Estampa,1,113,113
18,12,2019-01-02,Shopping Midway Mall,Short Xadrez,4,100,400

<h1>Na tabela principal, foi filtrado para que aparecesse apenas a loja Norte Shopping. Para isso a coluna "ID Loja" tem que ser igual ao nome desejado.</h1>

In [28]:
tabela_vendas[tabela_vendas['ID Loja'] == 'Norte Shopping']

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

<h1>Dessa forma será definido "true" e "false" para toda coluna "ID LOJA" sobre a condição de ser igula ao nome definido, no caso "Norte Shopping".</h1>

In [29]:
tabela_vendas['ID Loja'] == 'Norte Shopping'

0        False
1        False
2        False
3         True
4         True
         ...
93905    False
93906    False
93907    False
93908    False
93909    False
Name: ID Loja, Length: 93910, dtype: bool

In [30]:
tabela_vendas.loc[3:4]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

<h1>Foi definido que apresente todos os PRODUTOS "relógio" da ID Loja.</h1>

In [31]:
tabela_vendas[(tabela_vendas['ID Loja'] == 'Norte Shopping') & (tabela_vendas['Produto'] == 'Relógio')]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
277,201,2019-01-02,Norte Shopping,Relógio,2,200,400
3666,2486,2019-01-14,Norte Shopping,Relógio,1,200,200
3871,2634,2019-01-15,Norte Shopping,Relógio,4,200,800
7375,5033,2019-01-28,Norte Shopping,Relógio,1,200,200
11257,7788,2019-02-10,Norte Shopping,Relógio,3,200,600
11281,7805,2019-02-10,Norte Shopping,Relógio,1,200,200
13032,8961,2019-02-17,Norte Shopping,Relógio,1,200,200
23666,16327,2019-03-26,Norte Shopping,Relógio,1,200,200
24746,17094,2019-03-30,Norte Shopping,Relógio,5,200,1000
31641,21762,2019-04-24,Norte Shopping,Relógio,1,200,200
40601,27981,2019-05-25,Norte Shopping,Relógio,1,200,200
42741,29422,2019-06-02,Norte Shopping,Relógio,3,200,600
42876,29535,2019-06-03,Norte Shopping,Relógio,4,200,800
48019,33143,2019-06-21,Norte Shopping,Relógio,1,200,200
59863,41373,2019-08-02,Norte Shopping,Relógio,2,200,400
61189,42272,2019-08-06,Norte Shopping,Relógio,1,200,200
61706,42648,2019-08-08,Norte Shopping,Relógio,1,200,200
66127,45743,2019-08-24,Norte Shopping,Relógio,2,200,400
67613,46781,2019-08-29,Norte Shopping,Relógio,2,200,400
70398,48769,2019-09-08,Norte Shopping,Relógio,1,200,200
77114,53447,2019-10-02,Norte Shopping,Relógio,2,200,400
78142,54190,2019-10-06,Norte Shopping,Relógio,1,200,200
80078,55566,2019-10-12,Norte Shopping,Relógio,5,200,1000
82081,56947,2019-10-20,Norte Shopping,Relógio,1,200,200
82083,56948,2019-10-20,Norte Shopping,Relógio,1,200,200
87046,60267,2019-11-06,Norte Shopping,Relógio,2,200,400
87364,60489,2019-11-07,Norte Shopping,Relógio,2,200,400
89638,62058,2019-11-15,Norte Shopping,Relógio,1,200,200

In [32]:
tabela_vendas[(tabela_vendas['ID Loja'] == 'Norte Shopping')]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

<h1>Foi definido que seja apresentado apenas "Quantidade, Produto e Id Loja" somente da loja 'Norte Shopping".</h1>

In [37]:
# display(tabela_vendas.loc[1:8])

display(tabela_vendas.loc[tabela_vendas['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']])

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [34]:
tabela_vendas['Comissão'] = tabela_vendas['Valor Final'] * 0.05
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80