<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/inpe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
endereco = 'https://queimadas.dgi.inpe.br/home/downloadfile?path=/app/api/data/dados_abertos/focos/Mensal/focos_abertos_mensal_202211.csv'

In [4]:

tabela_inpe = pd.read_csv(endereco)

In [5]:
tabela_inpe

,id,lat,lon,data_hora_gmt,satelite,municipio,estado,pais,municipio_id,estado_id,pais_id,numero_dias_sem_chuva,precipitacao,risco_fogo,bioma,frp,geom
0,71bc18f2-bcb0-33bf-ba35-f9887b8e8c52,-11.65188,31.92201,2022-11-01 00:01:00,NOAA-20,Mpika,Muchinga,Zambia,38,6,255,NaN,NaN,NaN,NaN,0.8,0101000020E6100000C095ECD808EC3F403DD52137C34D...
1,6d4536b3-7554-3e76-b6e3-994fec5ef08a,-11.68139,29.30939,2022-11-01 00:01:00,NOAA-20,Milenge,Luapula,Zambia,27,4,255,NaN,NaN,NaN,NaN,5.1,0101000020E61000009EB5DB2E344F3D4094A46B26DF5C...
2,4e010cd0-feef-3090-a8e3-700e16295850,-11.68482,29.30776,2022-11-01 00:01:00,NOAA-20,Milenge,Luapula,Zambia,27,4,255,NaN,NaN,NaN,NaN,10.3,0101000020E61000005704FF5BC94E3D401F4B1FBAA05E...
3,14ec6925-2c5f-3e2a-a06b-82bed382851b,-11.68531,29.31167,2022-11-01 00:01:00,NOAA-20,Milenge,Luapula,Zambia,27,4,255,NaN,NaN,NaN,NaN,6.2,0101000020E6100000F224E99AC94F3D40573ECBF3E05E...
4,3e7881ff-35c1-3099-ac7a-1bb6ff8c13f3,-11.68707,29.30859,2022-11-01 00:01:00,NOAA-20,Milenge,Luapula,Zambia,27,4,255,NaN,NaN,NaN,NaN,5.1,0101000020E610000065DF15C1FF4E3D401D2098A3C75F...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255243,f568db7c-75f2-3e57-9789-9936fb7f80f5,-21.35710,-61.73850,2022-11-22 23:57:05,GOES-16,General Eugenio A. Garay,Boquerón,Paraguay,43,6,177,2.0,0.0,0.05,NaN,218.7,0101000020E61000004A0C022B87DE4EC0CF66D5E76A5B...
2255244,35d554d5-f3a6-3990-9379-e0dc84c2b177,-22.55980,-62.01450,2022-11-22 23:57:12,GOES-16,Doctor Pedro P. Peña,Boquerón,Paraguay,42,6,177,2.0,0.0,0.22,NaN,75.2,0101000020E610000060E5D022DB014FC0014D840D4F8F...
2255245,b6f2c6ca-0ed9-30f0-ace0-82e7f1ef67d0,-22.56020,-61.99390,2022-11-22 23:57:12,GOES-16,Doctor Pedro P. Peña,Boquerón,Paraguay,42,6,177,2.0,0.0,0.21,NaN,100.6,0101000020E610000048BF7D1D38FF4EC01D386744698F...
2255246,b4655b7b-068f-339f-bdad-c19ea273e87e,-22.77260,-61.59760,2022-11-22 23:57:13,GOES-16,Doctor Pedro P. Peña,Boquerón,Paraguay,42,6,177,2.0,0.0,0.09,NaN,69.7,0101000020E6100000780B24287ECC4EC0BDE3141DC9C5...
2255247,9d979cf8-8a84-38d8-8e91-b33a5ee1cb44,-28.90210,-60.57980,2022-11-22 23:57:43,GOES-16,Vera,Santa Fe,Argentina,457,21,12,0.0,0.0,0.02,NaN,116.1,0101000020E6100000431CEBE2364A4EC0BBB88D06F0E6...

In [6]:
tabela_inpe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255248 entries, 0 to 2255247
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   lat                    float64
 2   lon                    float64
 3   data_hora_gmt          object
 4   satelite               object
 5   municipio              object
 6   estado                 object
 7   pais                   object
 8   municipio_id           int64
 9   estado_id              int64
 10  pais_id                int64
 11  numero_dias_sem_chuva  float64
 12  precipitacao           float64
 13  risco_fogo             float64
 14  bioma                  object
 15  frp                    float64
 16  geom                   object
dtypes: float64(6), int64(3), object(8)
memory usage: 292.5+ MB

In [7]:
tabela_inpe.shape

(2255248, 17)

In [8]:
tabela_inpe.describe()

,lat,lon,municipio_id,estado_id,pais_id,numero_dias_sem_chuva,precipitacao,risco_fogo,frp
count,2.255248e+06,2.255248e+06,2.255248e+06,2.255248e+06,2.255248e+06,620258.000000,620258.000000,620258.000000,2.247102e+06
mean,8.543806e-01,1.100335e+01,3.496258e+05,1.336354e+01,9.926111e+01,-1.335527,1.348262,-5.829677,2.046508e+01
std,1.949503e+01,6.569914e+01,1.072250e+06,1.184609e+01,7.749911e+01,81.096946,5.059676,78.532968,4.869868e+01
min,-5.318010e+01,-1.798186e+02,1.000000e+00,1.000000e+00,1.000000e+00,-999.000000,0.000000,-999.000000,0.000000e+00
25%,-1.576943e+01,-5.666517e+01,3.400000e+01,6.000000e+00,3.300000e+01,2.000000,0.000000,0.040000,3.300000e+00
50%,-3.772190e+00,1.906453e+01,8.500000e+01,9.000000e+00,6.800000e+01,4.000000,0.000000,0.240000,6.300000e+00
75%,1.237524e+01,4.034453e+01,4.610000e+02,1.700000e+01,1.630000e+02,7.000000,0.200000,0.710000,1.430000e+01
max,7.134085e+01,1.798386e+02,5.300108e+06,8.300000e+01,2.560000e+02,120.000000,119.930000,1.000000,4.093400e+03

In [16]:
tabela_inpe[['numero_dias_sem_chuva','precipitacao', 'risco_fogo']].describe()

       numero_dias_sem_chuva   precipitacao     risco_fogo
count          620258.000000  620258.000000  620258.000000
mean               -1.335527       1.348262      -5.829677
std                81.096946       5.059676      78.532968
min              -999.000000       0.000000    -999.000000
25%                 2.000000       0.000000       0.040000
50%                 4.000000       0.000000       0.240000
75%                 7.000000       0.200000       0.710000
max               120.000000     119.930000       1.000000

In [17]:
# Retorno todos os registros da coluna pais
tabela_inpe.pais

0             Zambia
1             Zambia
2             Zambia
3             Zambia
4             Zambia
             ...
2255243     Paraguay
2255244     Paraguay
2255245     Paraguay
2255246     Paraguay
2255247    Argentina
Name: pais, Length: 2255248, dtype: object

In [19]:
# Retorna os registros da coluna "pais" sem repetir, de forma única.
tabela_inpe.pais.unique()

array(['Zambia', 'Angola', 'Republic of Congo', 'Egypt', 'Mozambique',
       'Zimbabwe', 'Botswana', 'Namibia', 'Venezuela', 'Brasil',
       'South Africa', 'Sudan', 'Peru', 'Bolivia', 'Chad', 'Chile',
       'Argentina', 'Mexico', 'Russia', 'Turkey', 'Bulgaria',
       'Bosnia and Herzegovina', 'Serbia', 'Ukraine', 'Romania', 'Italy',
       'Croatia', 'Slovenia', 'Poland', 'Belarus', 'Germany', 'Greece',
       'Albania', 'Slovakia', 'Czech Republic', 'Algeria', 'Tunisia',
       'Niger', 'Guatemala', 'Nigeria', 'Burkina Faso', 'Mali',
       'Cameroon', 'Benin', 'Sweden', 'Finland', 'Belgium', 'France',
       'Netherlands', 'Indonesia', 'Austria', 'Australia', 'Spain',
       'New Zealand', "Côte d'Ivoire", 'Ghana', 'Guinea', 'Senegal',
       'Mauritania', 'Togo', 'Norway', 'Canada', 'Suriname',
       'United Kingdom', 'Portugal', 'Morocco', 'China', 'Vietnam',
       'Laos', 'Nicaragua', 'Papua New Guinea', 'South Korea',
       'North Korea', 'Japan', 'Ecuador', 'United States', 'Paraguay',
       'India', 'Myanmar', 'Bangladesh', 'French Guiana', 'Philippines',
       'Colombia', 'Timor-Leste', 'Cambodia', 'Thailand', 'Kazakhstan',
       'Pakistan', 'Madagascar', 'Cuba', 'Panama', 'Nepal', 'Kyrgyzstan',
       'Tanzania', 'Sri Lanka', 'Afghanistan', 'Uzbekistan', 'Azerbaijan',
       'Georgia', 'Iraq', 'Iran', 'Ethiopia', 'Eritrea', 'South Sudan',
       'Uganda', 'Kenya', 'Democratic Republic of the Congo', 'Malawi',
       'Oman', 'Yemen', 'Syria', 'Somalia', 'Rwanda', 'Burundi',
       'Central African Republic', 'Lebanon', 'Jordan', 'Kosovo',
       'Equatorial Guinea', 'Gabon', 'Guinea-Bissau', 'Gambia',
       'Sierra Leone', 'New Caledonia', 'Solomon Islands', 'Vanuatu',
       'Dominican Republic', 'El Salvador', 'Honduras', 'Costa Rica',
       'Uruguay', 'Guyana', 'Taiwan', 'Haiti', 'Malaysia', 'Reunion',
       'Palestina', 'Djibouti', 'Mongolia', 'Virgin Islands U.S.',
       'Bhutan', 'Swaziland', 'Denmark', 'Liberia', 'Tajikistan', 'Samoa',
       'Switzerland', 'Fiji', 'Hungary', 'Iceland', 'Guadeloupe',
       'Latvia', 'Lithuania', 'Luxembourg', 'Brunei', 'Estonia',
       'Martinique'], dtype=object)

In [36]:
# Com o comando 'len' junto com 'unique', retorna o "tamanho" da lista.
len(tabela_inpe.pais.unique())

157

In [66]:
# A variável "a" é uma lista.
a = ['Zambia', 'Angola', 'Republic of Congo', 'Egypt', 'Mozambique',
       'South Africa', 'Sudan', 'Peru', 'Bolivia', 'Chad', 'Chile',
       'Argentina', 'Mexico', 'Russia', 'Turkey', 'Bulgaria',
       'Bosnia and Herzegovina']

In [67]:
# Edição do primeiro índice da lista "a".
a[0] = 'jacarei'

In [68]:
# Retorno da lista "a" com a alteração.
a

['jacarei',
 'Angola',
 'Republic of Congo',
 'Egypt',
 'Mozambique',
 'South Africa',
 'Sudan',
 'Peru',
 'Bolivia',
 'Chad',
 'Chile',
 'Argentina',
 'Mexico',
 'Russia',
 'Turkey',
 'Bulgaria',
 'Bosnia and Herzegovina']

In [69]:
# "b" é uma "tuple" de "a". Logo "b" não pode ser alterado, editado.
b = tuple(a)

In [70]:
type(b)

tuple

In [75]:
# Por ser uma 'tuple', não pode ser alterado.  (TypeError: 'tuple' object does not support item assignment) 
b[0] = 'Zambia'

TypeError: ignored

In [76]:
b

('jacarei',
 'Angola',
 'Republic of Congo',
 'Egypt',
 'Mozambique',
 'South Africa',
 'Sudan',
 'Peru',
 'Bolivia',
 'Chad',
 'Chile',
 'Argentina',
 'Mexico',
 'Russia',
 'Turkey',
 'Bulgaria',
 'Bosnia and Herzegovina')

In [31]:
# Com o comando ".value_counts( )", é retornado a contagem de vezes que os índeces da coluna "pais" aparece.
tabela_inpe.pais.value_counts()

Brasil                 296379
Bolivia                198804
Australia              198477
India                  133721
Mozambique             107588
                        ...
Lithuania                   2
Kosovo                      2
Virgin Islands U.S.         2
Martinique                  2
Estonia                     1
Name: pais, Length: 157, dtype: int64

In [20]:
# Retorna o nome das colunas.
tabela_inpe.columns

Index(['id', 'lat', 'lon', 'data_hora_gmt', 'satelite', 'municipio', 'estado',
       'pais', 'municipio_id', 'estado_id', 'pais_id', 'numero_dias_sem_chuva',
       'precipitacao', 'risco_fogo', 'bioma', 'frp', 'geom'],
      dtype='object')

In [28]:
# Filtra com o comando ".loc" apenas o pais "Syria" nas colunas descritas no sendo [ ].
tabela_inpe.loc[(tabela_inpe['pais'] == 'Syria', ['pais', 'municipio_id', 'municipio', 'estado_id', 'pais_id', 'numero_dias_sem_chuva','precipitacao', 'risco_fogo', 'bioma'])]

,pais,municipio_id,municipio,estado_id,pais_id,numero_dias_sem_chuva,precipitacao,risco_fogo,bioma
32333,Syria,2,Al-Malikiyah,1,224,NaN,NaN,NaN,NaN
32340,Syria,2,Al-Malikiyah,1,224,NaN,NaN,NaN,NaN
34761,Syria,8,Al Bab,2,224,NaN,NaN,NaN,NaN
34762,Syria,12,Manbij,2,224,NaN,NaN,NaN,NaN
34763,Syria,12,Manbij,2,224,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2168523,Syria,35,Palmyra,9,224,NaN,NaN,NaN,NaN
2252723,Syria,35,Palmyra,9,224,NaN,NaN,NaN,NaN
2253827,Syria,35,Palmyra,9,224,NaN,NaN,NaN,NaN
2253828,Syria,35,Palmyra,9,224,NaN,NaN,NaN,NaN
2253829,Syria,25,Mayadin,7,224,NaN,NaN,NaN,NaN

In [30]:
# Retorna todas as colunas do município referenciado('Manbij') na coluna "municipio".
tabela_inpe[(tabela_inpe['municipio'] == 'Manbij')]

,id,lat,lon,data_hora_gmt,satelite,municipio,estado,pais,municipio_id,estado_id,pais_id,numero_dias_sem_chuva,precipitacao,risco_fogo,bioma,frp,geom
34762,7f8557c5-795a-31f3-b2bd-876c8d29a44a,36.15852,37.83714,2022-11-01 10:17:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.4,0101000020E610000033164D6727EB424087E123624A14...
34763,f350dabd-3d53-3208-a121-4478fe327a3f,36.14622,37.76769,2022-11-01 10:17:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,4.3,0101000020E6100000AEBB79AA43E24240B4024356B712...
145348,5beb06aa-5221-353c-a98e-7b020ac8ac7b,36.18918,37.72823,2022-11-02 10:00:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.2,0101000020E6100000A9FB00A436DD42405587DC0C3718...
153232,61db46e2-582e-38ad-8e54-d8979fc435fa,36.13141,37.82586,2022-11-02 10:47:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,6.3,0101000020E61000008B89CDC7B5E94240062FFA0AD210...
153268,d8c9cce2-aaab-3f00-9093-44628ecb276e,36.14868,37.80512,2022-11-02 10:47:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.4,0101000020E610000082AD122C0EE74240DEC83CF20713...
264408,683946eb-7245-33dd-8496-08a8616fd203,36.13333,37.77390,2022-11-03 09:41:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,5.2,0101000020E6100000EC2FBB270FE34240B0C91AF51011...
281319,b9a3aa18-59b1-36e5-aa85-de5d1982b203,36.16425,37.82856,2022-11-03 11:19:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.5,0101000020E61000000B630B410EEA42401B2FDD240615...
396466,5d1a8fd7-f195-3dae-9c96-0c2e7af2b10a,36.15768,37.83742,2022-11-04 10:11:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.3,0101000020E610000017821C9430EB4240DC9DB5DB2E14...
396472,fde96d6d-1348-359b-ba38-d0ff946f8b57,35.98494,37.94730,2022-11-04 10:11:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,15.9,0101000020E61000001AC05B2041F94240D942908312FE...
405814,0ed31da8-25ed-31b5-aa42-82d77b330077,36.13792,37.81692,2022-11-04 11:02:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,4.3,0101000020E610000063B9A5D590E842406FBBD05CA711...
405815,33183846-696a-363a-8b10-20589843e289,36.13663,37.81446,2022-11-04 11:02:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,5.0,0101000020E610000038F3AB3940E8424084D382177D11...
405816,0a948469-5ea0-3a22-a3fe-ecd5ac2d1093,36.13244,37.76269,2022-11-04 11:02:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.6,0101000020E61000003D7E6FD39FE1424054573ECBF310...
536684,2d714350-e31f-3a96-9b31-b9247f89c760,36.14555,37.80474,2022-11-05 10:36:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,8.9,0101000020E61000003BE466B801E7424066F7E461A112...
536685,6af64414-d173-367b-aae1-78eba51b1560,36.14873,37.76574,2022-11-05 10:36:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,6.4,0101000020E6100000999EB0C403E2424090F7AA950913...
537149,70e9984f-9a52-3360-9db6-b4b6ea211883,36.16838,37.76829,2022-11-05 10:43:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.0,0101000020E610000003ECA35357E2424076A6D0798D15...
537150,136b5d41-9feb-3e27-880a-ff8bbf8e407b,36.14981,37.80555,2022-11-05 10:43:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,5.0,0101000020E61000007AA52C431CE74240904E5DF92C13...
537151,5698dc28-891b-308b-a845-b46edf770b8c,36.03838,38.01424,2022-11-05 10:43:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,4.9,0101000020E6100000C425C79DD20143400569C6A2E904...
537152,ddd23d12-1f55-3421-9d03-af7f181cacc7,35.95930,37.97445,2022-11-05 10:43:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.1,0101000020E610000029CB10C7BAFC4240C286A757CAFA...
652549,1faf8bd6-f696-3bc4-a37a-8b9029fbd6f9,36.13963,37.82360,2022-11-06 10:23:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,3.1,0101000020E6100000287E8CB96BE942402EC55565DF11...
652550,509416cb-d84c-3853-80ee-872a2341924a,36.15339,37.80231,2022-11-06 10:23:00,NPP-375D,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,1.8,0101000020E61000007BA01518B2E6424048C49448A213...
1373375,e04a2114-bb7d-379e-bcc8-b6d752401f2a,36.18271,37.71201,2022-11-13 10:42:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.6,0101000020E61000006536C82423DB42407A53910A6317...
1453067,2dfefb01-81e0-303f-8b04-815d240e26b0,35.96201,37.91508,2022-11-14 10:21:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.8,0101000020E6100000A29C685721F542406536C82423FB...
1453147,d5868f94-a0f9-3a0c-a414-4a9efa1f7246,36.13815,37.78048,2022-11-14 10:23:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,13.8,0101000020E61000004E97C5C4E6E34240A1F831E6AE11...
1453149,b726d6a5-c3a5-36d8-b9ea-b01f9c470796,36.14995,37.76862,2022-11-14 10:23:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,7.9,0101000020E61000009886E12362E242408104C58F3113...
1453150,7b1e93a1-f530-3d22-8dd5-7d7148a5cabc,36.15709,37.83383,2022-11-14 10:23:00,NOAA-20,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,2.9,0101000020E61000003B3602F1BAEA4240AA436E861B14...
1453390,f41a3185-693a-3880-84a3-175d79131f7d,36.14082,37.77391,2022-11-14 10:28:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,6.9,0101000020E610000010069E7B0FE34240B54FC7630612...
1453391,b43ea49f-692b-363e-b98a-c84e937c0d4b,36.13737,37.78490,2022-11-14 10:28:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,7.2,0101000020E6100000B1506B9A77E44240CBB914579511...
1453392,1ac2ea4a-374c-365f-8512-4d62228bfb59,36.13434,37.76910,2022-11-14 10:28:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,9.2,0101000020E610000043AD69DE71E24240B745990D3211...
1453393,786cc7bb-27d4-3539-ae61-e75465f73384,36.13034,37.77694,2022-11-14 10:28:00,AQUA_M-M,Manbij,Aleppo,Syria,12,2,224,NaN,NaN,NaN,NaN,8.1,0101000020E6100000257A19C572E3424029AE2AFBAE10...