<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/inpe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
enderco = 'https://queimadas.dgi.inpe.br/home/downloadfile?path=/app/api/data/dados_abertos/focos/Mensal/focos_abertos_mensal_202211.csv'

In [7]:

tabela_inpe = pd.read_csv(enderco)

In [8]:
tabela_inpe

,id,lat,lon,data_hora_gmt,satelite,municipio,estado,pais,municipio_id,estado_id,pais_id,numero_dias_sem_chuva,precipitacao,risco_fogo,bioma,frp,geom
0,6c15b88a-0191-3c3c-a616-3ccf08dba5db,-11.52746,32.42429,2022-11-01 00:01:00,NOAA-20,Mpika,Muchinga,Zambia,38,6,255,NaN,NaN,NaN,NaN,1.1,0101000020E61000008A027D224F36404075E5B33C0F0E...
1,a0a3e84c-5390-3ab9-a39b-761a45a91957,-11.51703,32.45109,2022-11-01 00:01:00,NOAA-20,Chama,Muchinga,Zambia,35,6,255,NaN,NaN,NaN,NaN,1.8,0101000020E6100000BDC62E51BD3940400D1AFA27B808...
2,54c86b4b-f1a0-3513-a1b1-0ad766e46c91,-11.51682,32.45284,2022-11-01 00:01:00,NOAA-20,Chama,Muchinga,Zambia,35,6,255,NaN,NaN,NaN,NaN,2.1,0101000020E61000000B293FA9F639404062D68BA19C08...
3,1861e775-6787-3c89-9e23-19618799a53b,31.11151,31.74194,2022-11-01 00:01:00,AQUA_M-M,Dikirnis,Ad Daqahliyah,Egypt,11,1,69,NaN,NaN,NaN,NaN,23.9,0101000020E61000002098A3C7EFBD3F404D2D5BEB8B1C...
4,342fdaa6-5a7b-3eac-936c-73a62a69a4fd,-11.51562,29.89289,2022-11-01 00:01:00,NOAA-20,Samfya,Luapula,Zambia,30,4,255,NaN,NaN,NaN,NaN,1.3,0101000020E6100000EAEC647094E43D40B9533A58FF07...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2168615,43d73d93-c6a4-3266-b2d0-695a6b9758ee,14.32975,36.81720,2022-11-21 23:58:00,NOAA-20,Omhajer,Gash Barka,Eritrea,27,4,72,NaN,NaN,NaN,NaN,1.8,0101000020E6100000462575029A68424046B6F3FDD4A8...
2168616,6738de09-1b3a-3b49-baf3-1295d78be93e,14.33295,36.81694,2022-11-21 23:58:00,NOAA-20,Omhajer,Gash Barka,Eritrea,27,4,72,NaN,NaN,NaN,NaN,2.5,0101000020E6100000AA656B7D916842400A68226C78AA...
2168617,90f7080d-79b8-337d-8a05-c155708eb277,14.33381,36.83083,2022-11-21 23:58:00,NOAA-20,Omhajer,Gash Barka,Eritrea,27,4,72,NaN,NaN,NaN,NaN,3.7,0101000020E610000091442FA3586A4240D027F224E9AA...
2168618,6b5a90b3-24f9-3822-b805-c86be392dc8f,16.12818,32.68594,2022-11-21 23:58:00,NOAA-20,Khartoum Bahri,Khartoum,Sudan,28,7,218,NaN,NaN,NaN,NaN,1.5,0101000020E61000005682C5E1CC57404054008C67D020...
2168619,7d6054e0-625c-3224-ab52-686b711447a9,15.11211,32.29666,2022-11-21 23:58:00,NOAA-20,Al Gutaina,White Nile,Sudan,78,18,218,NaN,NaN,NaN,NaN,0.5,0101000020E6100000040473F4F8254040EF1B5F7B6639...

In [9]:
tabela_inpe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2168620 entries, 0 to 2168619
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   lat                    float64
 2   lon                    float64
 3   data_hora_gmt          object
 4   satelite               object
 5   municipio              object
 6   estado                 object
 7   pais                   object
 8   municipio_id           int64
 9   estado_id              int64
 10  pais_id                int64
 11  numero_dias_sem_chuva  float64
 12  precipitacao           float64
 13  risco_fogo             float64
 14  bioma                  object
 15  frp                    float64
 16  geom                   object
dtypes: float64(6), int64(3), object(8)
memory usage: 281.3+ MB

In [12]:
2**8

256